.input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#input {
  font-size: 2em;
}

#input-label {
  margin: 0;
}

#input-button {
  font-size: 2em;
}

.weather-parameters {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.parameter {
  margin-bottom: 1.5em;
}

.parameter-name {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.error-message {
  color: red;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5vh 10vw;
}
